<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Kode+Mono:wght@400..700&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
<div id="pastel"><img class="pastel" src="assets/pastelaesthetic.png" alt="bg"></div>

<div class="container" *ngIf="isLoggedIn">
    <ul class="navbar">
        <li><img class="bg1" src="/assets/images/irlogo.png"></li>
        <li class="nameUser">Hii, {{user.username}}!</li>
        <li *ngFor="let menu of menuList" (click)="changeColor(menu)"
            [ngClass]="{'selected': menu.isSelected, 'dropdown': menu.subMenu}">
            <a [routerLink]="menu.hrefURL || '#'">
                <i *ngIf="menu.icon" [ngClass]="menu.icon"></i>
                {{ menu.navtab }}
                <i *ngIf="menu.subMenu" class="fa fa-caret-down"></i>
            </a>
            <ul *ngIf="menu.subMenu" class="dropdown-content">
                <li *ngFor="let sub of menu.subMenu">
                    <a [routerLink]="sub.hrefURL">{{ sub.navtab }}</a>
                </li>
            </ul>
        </li>

    </ul>
    <ul class="logout">
        <li>
            <a (click)="logOutAlert()">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
            </a>
        </li>
    </ul>
</div><br>
<div class="containerShort" *ngIf="isLoggedIn">
    <marquee behavior="scroll" direction="left">Today's Text Request: {{ textCount || 0 }}, Text PNRs: {{ grandtotaltext || 0 }}, Total PDFs: {{ countPDF || 0 }}, Number of PDF page(s): {{ PDFcount || 0}}.</marquee>
</div>


<div class="routerContent">
    <router-outlet></router-outlet>
</div>

<br>
<div class="newcopyright">
    <p>&copy; Copyright {{CRyear}}, IT-Cell/CCM/PM, Southern Railway.</p>
</div>