table {
    margin: 0; /* Align table to center */
    width: 80%;
    /* padding-left: 50px;
    padding-right: 50px;  */
    background-color: #18283b;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
}

h3,
h4,
h5 {
    font-family: Kode Mono;
}

th {
    color: #fde89b;
    font-size: 14px;
    text-align: center;
}

tr,
td {
    font-size: 12px;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    text-shadow: 3px 3px 20px rgb(0, 0, 0);
    color: white;
}


.headerSpan {
    letter-spacing: 12px;
}

.centeredHeading {
    text-align: center;
}

.searchBox {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
}

.searchLabel {
    margin-right: 10px;
}


​.pdfIcon {
    color: orangered;
    font-size: 16px;
}

.pdfIcon:hover {
    color: #fde89b;
}