<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
<div class="bgbdy">
    <div class="canvas">
        <div class="notepad">
            <div class="cover">
            </div>
            <div class="page one">
                <p>EQ Web App <br>Have A Good Day!</p>
            </div>
            <div class="page two"></div>

            <div class="page three">
                <p>Happy Working!</p>
            </div>
            <div class="page four">

            </div>
        </div>
        <div class="pencil">
            <div class="edge"></div>
        </div>
    </div>
</div>

<div class="box">
    <span class="borderLine"></span>
    <form>
        <h2 class="welcome" style="letter-spacing: 4px;"><span style="font-size: 20px;">LOGIN</span> | <span
                style="font-size: 20px;"><b>EQ</b> Web App</span></h2>
        <div class="inputBox">
            <input type="text" placeholder="Enter Username" name="username" required [(ngModel)]="username" />
            <i class="validation"><span></span><span></span></i>
        </div><br>
        <div class="inputBox">
            <input [type]="changetype?'password':'text'" placeholder="Password (case-sensitive field)" name="password"
                required [(ngModel)]="password" />
            <span class="eyeicon" (click)="viewpass()"><i class="fa-solid fa-eye"></i>
            </span>
            <i class="validation"><span></span><span></span></i>
        </div>
        <div class="links">
            <div *ngIf="error" style="color: red; font-weight:700; font-variant: small-caps;">
                <br>
                {{errorMsg}}
            </div><br>
        </div>
        <input type="submit" (click)="loginMe()" value="Sign In">
        <div class="frpwd"><span><a (click)="openModal();"><i class="fa-solid fa-link-slash"></i>&nbsp; Forget/Reset
                    Password</a></span></div>
    </form>
</div>

<div class="modal__container">
    <div class="w3-container" style="width: 50%;">
        <div id="frpassword" class="w3-modal">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="width: 22%; max-height: 95%;">

                <div class="headerModal">
                    <div class="close-center">
                        <span (click)="closeModal()" title="Close Modal">
                            <strong><span style="color: white;">&times;</span></strong>
                        </span>
                    </div>
                    <div class="splInnerModal"><br><br>
                        <div class="frp">
                            <form *ngIf="!userId" (ngSubmit)="verifyUser()">
                                <h2>Forgot Password</h2>
                                <div class="inputBox">
                                    <input type="text" placeholder="Enter PF Number" [(ngModel)]="pfNumber"
                                        name="pfNumber" required />
                                        <i class="validation"><span></span><span></span></i>
                                </div>
                                <div class="inputBox">
                                    <input type="text" placeholder="Enter Username" [(ngModel)]="username"
                                        name="username" required />
                                        <i class="validation"><span></span><span></span></i>
                                </div>
                                <div class="inputBox">
                                    <input type="date" [(ngModel)]="dob" name="dob" required />
                                    <i class="validation"><span></span><span></span></i>                                    
                                </div>
                                <div class="innerHeader">
                                    <button class="buttonVerify" type="submit"><i class="fa-solid fa-user-check"></i>&nbsp; Verify</button>
                                </div>
                                <div *ngIf="error" style="color: red;">{{ errorMsg }}</div>
                            </form>

                            <form *ngIf="userId" (ngSubmit)="resetPassword()">
                                <h2>Reset Password</h2>
                                <span style="color: rgba(0, 0, 128, 0.349);">* Must contain atleast one Uppercase, one Number and one Special Character for a strong password.</span>
                                <div class="inputBox">
                                    <input type="password" placeholder="New Password" [(ngModel)]="newPassword"
                                        name="newPassword" required />
                                        <i class="validation"><span></span><span></span></i>
                                </div>
                                <div class="inputBox">
                                    <input type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword"
                                        name="confirmPassword" required />
                                        <i class="validation"><span></span><span></span></i>
                                </div>
                                <div class="inputBox">
                                    <button class="buttonPwdUpdate" type="submit">Reset Password</button>
                                </div><br>

                                <div *ngIf="error" style="color: red;">{{ errorMsg }}</div>
                            </form>
                        </div><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>