<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
<table>
    <tr><th style="font-size: 16px; font-weight: bold">WRITEUP & CREDITS</th></tr>
    <tr>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We, The IT-Cell of CCM/PM Office, developers of this application for the internal use for PRS Database
            Administration of CCM/PM/Office, Southern Railway.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This application is developed in Angular (Version: 17.1.3 on the initial release), Node (Version:
            20.11.0), MongoDB Compass (Version: 1.42.2), Nodemon (Version: 3.0.3 for underdevelopment build).
            Application Production Mode launched using 'PM2' Server Command on 'Windows Server 2019 Edition'.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This is a Stable 'Mean Stack Application' of Version 1.1.5 developed in 'Visual Studio Code' IDE with
            the following features:</p>

        <ul>

            <li>User Registration, Login and Forgot Password Feature.</li>
            <li>Passwords are 'End-to-End Encryted' even developers cannot see.</li>
            <li>Token-based login and logout system.</li>
            <li>User-Idle Timeout, which logs out the user if inactive for 15 Minutes.</li>
            <li>PDF Uploader.</li>
            <li>Smooth UI/UX using Font-Awesome Icons and Google fonts for a better user experience and
                user-friendly.</li>
            <li>Quick access to Important Railway Sites.</li>
            <li>Ease follow through of Job/Tasks. Prevents hiccups in the work-flow.</li>
            <li>It is a go-green project.</li>
            <li>No additional expenses were spent for the development of this application. Library, dependencies
                and resources are used from Open Source by Google and Angular.</li>
            <h5 style="float: right; color: goldenrod;">- IT-Cell: 20219(Railway number)</h5>

        </ul>
    </tr>
</table>