.mainForm {
    background-color: #fff4f2b0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 30px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.26);
}

table {
    margin: 0 auto;
    /* Align table to center */
    width: 100%;
    padding: 10px;
    /* Add 20px padding to the table */
    background-color: #18283b;
    border: 1px solid rgba(218, 165, 32, 0.692);
    border-collapse: collapse;
}

th {
    color: #fde89b;
    font-size: 14px;
    text-align: center;
    padding: 8px;
    background-color: #D62929;
    border: 1px solid rgba(218, 165, 32, 0.692);
}

tr,
td {
    font-size: 12px;
    text-align: center;
    padding: 8px;
    text-shadow: 3px 3px 20px rgb(0, 0, 0);
    color: white;
    border-radius: 3px;
    border: 1px solid rgba(218, 165, 32, 0.692);
}

.date-report-form {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    color: #072e9c;
    font-size: 14px;
    font-weight: 600;
}

.form-input {
    /* Adjust width to accommodate padding */
    min-height: 40px;
    padding: 2px;
    letter-spacing: 0.5px;
    border: 0;
    border: 1.5px solid #bfaacc;
    color: #5c5301;
    width: 170px;
}

.report-button {
    padding: 10px 15px;
    background-color: #45006d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.report-button:hover {
    background-color: #45a049;
}

.report-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error {
    color: red;
    text-align: center;
}